<div>

    <section>
        This is how we roll...
        <section>Id: {{id}}</section>
        <section><a href="#">Name: {{name}}</a></section>
        <section>Phone: {{phone}}</section>
    </section>

</div>